# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

*.ncb

*.htm

HSJ_OilManager/Debug/HSJ_OilManager.res

HSJ_OilManager/Debug/BuildLog.htm

HSJ_OilManager/Debug/mt.dep

HSJ_OilManager/Debug/vc90.idb

HSJ_OilManager/Debug/vc90.pdb

HSJ_OilManager/HSJ_OilManager.aps
